body{
display:flex;
flex-direction: column;
margin: 0;
font-family: 'Roboto', sans-serif;
}

*{
    margin:0;
    box-sizing: border-box;

}



.header_container{
    display:flex;
    padding-top: 20px;
    padding-left: 250px;
    padding-bottom: 100px;
    padding-right: 250px;
}

.headerlogotext{
    font-size: 24px;
    color: #F9FAF8;
}


.headerlinktext{
    display:flex;
    margin-left:auto;
    gap:10px;
}

.section1{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 100px;
    max-height: 300px;
    align-self: flex-start;
}

.left_flex_container{
    display:flex;
    flex-grow: 1;
    flex-basis: 50%;
    flex-direction: column;
}

.right_flex_container{
    display:flex;
    flex-grow: 1;
    justify-content: flex-end;

}

.heromaintext{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    max-width: 50%;
    padding-bottom: 10px;
    
}

.herosecondarytext{
    max-width: 50%;
    padding-bottom: 10px;
}

.signupbutton{
    border: none;
}

.logoimage{
    width: 200px;
    height: 200px;
    border-radius: 70px;
}

.headerlinktext, .herosecondarytext{
    font-size: 18px;
    color: #E5E7EB;
}



.header_container, .section1{
    background-color: #1F2937;
}

.info_text, .section2{
    background-color: #3882F6;
}

.info_text{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    columns: #1F2937;
    padding-top: 20px;
    padding-bottom: 15px;
}
.section2{
    display: flex;
    justify-content: center;
    height: 300px;
}

.doctor_images{
    display:flex;
   flex-direction: row;
   /* justify-content: space-around; */
}

.doctor_container{
    width: 109px;
    padding-bottom: 30px;
    margin: 30px;;
}





.section3 {
    display: flex;
    justify-content: center;
    color: #1F2937;
    background-color: #E5E7EB;
    height: 300px;
}

.quote_container{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote_text{
    font-size: 36px;
    font-style: italic;
}

.quote_author{
    padding-top: 10px;
    
}





.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding-left: 250px;
    padding-right: 250px;
    /* padding-bottom: 100px; */
    max-height: 300px;
    
}

.section4_container{
    display: flex;
    padding:50px 100px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
}

.section4_top_text{
    font-weight: 300;
    color: #E5E7EB;
    padding-bottom: 5px;
}

.section4_bottom_text{
    font-size: 25px;
    color: #E5E7EB;
}

.donatebutton{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border: 1px solid #F9FAF8;
    border-radius: 10px;
    margin:20px;
}

button{
    background-color: #3882F6;
    color: #E5E7EB;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    
}







.footer{
    color: #E5E7EB;
    padding: 10px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

